/* sidenav.css */
/* ตั้งค่าพื้นฐานสำหรับ Sidenav */
.sidenav {
  position: fixed;
  left: -308px; /* ซ่อน sidenav ไว้นอกหน้าจอ */
  top: 0;
  width: 250px;
  height: 100%;
  background-color: var(--color-white); /* สีพื้นหลังเป็นสีดำ */
  overflow-x: hidden; /* ปิดการ scroll ตามแนวนอน */
  transition: left 0.3s ease; /* สร้างการเคลื่อนย้ายที่ smooth */
  padding: 16px;
  z-index: 1500; /* ตั้ง z-index ให้สูงกว่า overlay */
}

/* Overlay เมื่อ sidenav เปิด */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);  /* ความโปร่งใสของพื้นหลัง */
  z-index: 1000;  /* ควรต่ำกว่า z-index ของ sidenav */
  cursor: pointer;  /* เปลี่ยนเคอร์เซอร์เมื่อ hover */
}


/* เมื่อ Sidenav เปิด */
.sidenav--open {
  left: 0; /* เปิด sidenav โดยเลื่อนเข้ามาที่ขอบซ้าย */
}

/* สไตล์สำหรับลิงก์ใน Sidenav */
.sidenav a {
  padding: 10px 0px; /* เว้นช่องห่างรอบๆลิงก์ */
  font-size: var(--font-size-16-custom);
  color: var( --text-color); /* สีข้อความในลิงก์ */
  display: flex; /* แต่ละลิงก์เป็นบล็อคแยก */
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease; /* การเปลี่ยนแปลงสีจะ smooth */
}

/* สร้าง hover effect ให้กับลิงก์ */
.sidenav a:hover {

}

.sidenav__container {
  display: flex;
  align-items: center;

  gap: 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}


.sidenav__container img {
  max-width: 180px;  /* กำหนดขนาดสูงสุดของรูปภาพ */
  width: 100%;  /* ให้รูปภาพขยายเต็มที่ */
  height: auto;  /* ปรับความสูงอัตโนมัติตามความกว้าง */
}
.close-btn {
  background: none;  /* ลบพื้นหลัง */
  border: none;  /* ลบเส้นขอบ */
  cursor: pointer;  /* เปลี่ยนเคอร์เซอร์ */
  font-size: 24px;  /* ขนาดไอคอน */
  color: var(--text-color);  /* ใช้สีหลัก */
  transition: color 0.3s;  /* เพิ่มการเปลี่ยนสีเมื่อ hover */
  font-weight: 500;
}

.close-btn:hover {
  color: var(--text-color);  /* เปลี่ยนสีเมื่อ hover */
}






/*========================================================================================= */

.sidenav__toggle-link {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
}
.sidenav__toggle-link span{
  display: flex;
    gap: 10px;
    align-items: center;
}
.sidenav__toggle-link span i{
  color: var( --primary-color);
}
.sidenav__dropdown-list {
  max-height: 0; /* เริ่มต้นโดยซ่อนรายการ */
  overflow: hidden; /* ปิด scroll bar */
  transition: max-height 0.5s ease; /* สร้างการเปลี่ยนแปลงความสูง */
  margin-top: 0px;
}

.sidenav__dropdown-list.open {
  max-height: 500px; /* ปรับความสูงตามเนื้อหาที่ต้องการแสดง */
}

.sidenav__dropdown-list ul {
  margin: 0;
  padding: 10px 20px;
  color: var(--color-white);
  list-style: none;
  font-size: var(--font-size-16-custom);
  background-color: var(--bg-color);
  border-radius: 8px;
}

.sidenav__dropdown-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 0px;
  font-size: var(--font-size-14-custom);
  color: var(--text-color);
 /* border-bottom: 1px dashed #d8dbe9; */
}
.sidenav__dropdown-list li:last-child {
  border-bottom: none; /* ลบเส้นของ li ตัวสุดท้าย */
}
.sidenav__dropdown-list li i{
  color: var(--primary-color);
}



