.sticky-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #f3f9fc;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  box-shadow:rgba(0, 0, 0, 0.1) 0px -2px 9px ;
}