.layout-wrapper{
  padding: 30px 60px; 
  max-width: 720px; /* กำหนดความกว้างสูงสุด */
  margin: 0 auto; /* ทำให้คอนเทนต์อยู่ตรงกลางแนวนอน */
}
@media (max-width: 1024px) {
  .layout-wrapper {

    max-width: 720px; /* กำหนดความกว้างสูงสุด */
    margin: 0 auto; /* ทำให้คอนเทนต์อยู่ตรงกลางแนวนอน */
    padding: 30px 40px; /* เพิ่ม padding เพื่อไม่ให้เนื้อหาชิดขอบมากเกินไป */
  
  }
}

@media (max-width: 768px) {
  .layout-wrapper {
    padding: 30px 30px; /* ปรับ padding สำหรับมือถือ */
  }
}

@media (max-width: 480px) {
  .layout-wrapper {
    padding: 30px 20px; /* ปรับ padding สำหรับมือถือขนาดเล็ก */
  }
}