/* ปุ่มทั่วไป */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 5px;
  max-width: 334px;
  width: 100%;
  height: 50px;
  background: var(--primary-color);

  border: none;
  border-radius: 16px;
  transition: background-color 0.3s, transform 0.1s;
  font-family: "Prompt", sans-serif;
  cursor: pointer;
}


.button:active {
  transform: translateY(2px);

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* ปุ่มถัดไป (primary) */
.button.primary{
  background-color: var(--primary-color);
  color: white;
  border-bottom: 6px solid #2c61b0;
  
}
.button.primary:hover {
  background-color:var(--primary-color-hover);
}
.button.primary:active{
  background-color:var(--primary-color-active);
}

.button.primary.slideDown{
  opacity: 0;
  transform: translateY(-20px);
  animation: slideDown 1s ease forwards;
  animation-delay: 1.3s; /* เริ่มแอนิเมชันหลังจาก intro-main-title */
} 

/* ปุ่มถัดไป (secondary) */
.button.secondary{
  background-color: var(--secondary-color);
  color: white;
  border-bottom: 6px solid var(--secondary-color-bottom);
  
}
.button.secondary:hover {
  background-color:var(--secondary-color-hover);
}
.button.secondary:active{
  background-color:var(--secondary-color-active);
}
/* ปุ่มถัดไป (accent) */
.button.accent{
  background-color: var(--accent-color);
  color: white;
  border-bottom: 3px solid #BF5630;
}
.button.accent:hover{
  background-color: #f89977;
}
.button.accent:active{
  transform: translateY(2px);
  background-color: #c86e4e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* ปุ่มยกเลิก (cancel) */
.button.cancel {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.button.cancel:hover {
  background-color: white; /* เปลี่ยนพื้นหลังเมื่อ hover */
}

.button.comingSoon {
  background-color: white;
  color: var(--primary-color-hover);
}

.button.comingSoon:hover  {
  background-color: white; /* เปลี่ยนพื้นหลังเมื่อ hover */
}


.button-container-right{
  display: flex;
  justify-content: flex-end;
}

@media (max-width:658px) {
  .button-container-right {
    display: flex;
    justify-content: center;
}
}