.container-receipt{
  display: flex; /* เปลี่ยนเป็น Flexbox */
  flex-direction: column; /* จัดเรียงเป็นแนวตั้ง */
  background: var(--color-white);
  padding: 40px;
  gap: 24px;
  height: 275.9mm; /* ความสูงของ A4  height: 297mm;*/
}
.receipt__header{
  display: flex;

  justify-content: space-between;
}
.receipt__summary-top h1{
font-size: var(--font-size-32-custom);
color: var(--text-color);
}

.receipt__summary-top__content{
  display: grid;
  gap: 4px;

}
.receipt__summary-top p {
  font-size: var(--font-size-12-custom);
  color: var(--text-color);
font-weight: 700;
}
.receipt__summary-top span{
  font-weight: 300;
  color: #220000;
}
.receipt__header-logo img{

max-width: 162px;
width: 100%;
}
.receipt__details{
  display: flex;

  justify-content: space-between;
}
.receipt__customer p{
  font-size: var(--font-size-12-custom);
  color: #111118;
}

.receipt__customer h2{
  font-size: var(--font-size-14-custom);

}



.receipt__company{
  text-align: right;
}

.receipt__company p{
  font-size: var(--font-size-12-custom);
  color: #111118;
}

.receipt__company h2{
  font-size: var(--font-size-14-custom);

}




.receipt__table {
  width: 100%;
  border-collapse: collapse;

}
.receipt__header-row{

  border-bottom: 1px solid #111118; /* เส้นขอบด้านล่าง */
}
.receipt__table th{
font-size: var(--font-size-12-custom);
font-weight: 500;
  padding: 8px ;
  text-align: left;
}
.receipt__table td {
  font-size: var(--font-size-12-custom);
font-weight: 300;
  padding: 12px 8px 12px 8px ;
}
.receipt__table th {

}

.receipt__footer {
  margin-top: auto;
  margin-left: -40px;  /* ดึงออกจาก padding ทางซ้าย */
  margin-right: -40px; /* ดึงออกจาก padding ทางขวา */
  margin-bottom: -40px; 
  display: grid;
  gap: 8px;
  background: var(--primary-color);
  padding: 16px 40px;
}
.receipt__footer-title{
  display: flex;
  justify-content: space-between;
  border-bottom:10px ;
  border-bottom: 1px solid  var(--color-white);
  padding-bottom: 8px;
}
.receipt__footer-title p{
  color: var(--color-white);
}

.receipt__footer-content{
  display: flex;
  justify-content: space-between;
  border-bottom:10px ;
  border-bottom: 1px solid  var(--color-white);
  padding-bottom: 8px;
}

.receipt__footer-more-item{
  display: flex;
  gap: 8px;
  color: var(--color-white);
  font-size: var(--font-size-12-custom);
}


.receipt__footer-summary-item{
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  font-size: var(--font-size-14-custom);
  gap: 20px;
}
.bold-text {
  font-weight: bold; /* ทำให้ข้อความเป็นตัวหนา */
}


#receipt-content{
  display: flex; /* เปลี่ยนเป็น Flexbox */
  flex-direction: column; /* จัดเรียงเป็นแนวตั้ง */
  gap: 20px;
}