
.select-service h1{
  font-size: var(--font-size-h5-regular);

  text-align: center;
}



.select-service {
  
}

.select-service__card-container {
  display: flex;
  flex-direction: column; /* เรียงในแนวตั้ง */
  gap: 20px; /* ระยะห่างระหว่างการ์ด */
  margin-top: 20px;
}

.select-service__card {
  display: flex;
  align-items: center; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
  justify-content: space-between; /* ไอคอนจะชิดขวา ส่วนข้อความจะชิดซ้าย */
 
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.select-service__card:hover {
  transform: translateY(-5px);
  background-color: var(--primary-color-custom); /* เปลี่ยนพื้นหลังเมื่อ hover */
  color: var(--color-white);
}

.select-service__card:hover p {
 
  color: var(--color-white);
}
.select-service__card-image {
  width: 50px;
  height: 50px;
}
.select-service__content{
  display: flex;
  gap: 40px;
}

.select-service__content p {
  display: flex;
  justify-content: center; /* จัดให้อยู่กลางแนวนอน */
  align-items: center; /* จัดให้อยู่กลางแนวตั้ง */
  color: var(--text-color);
  font-size: var(--font-size-h6-medium);
}


@media (min-width:1024px){
  .select-service h1{
    font-size: var(--font-size-h4-regular);
  }
}
@media (max-width:375px) {
  .select-service__content p{
    font-size: var(--font-size-16-custom);
  }
  .select-service__content{
    gap: 20px ;
  }
}