


.popup-confirm{
  display: grid;
  gap: 20px
  ;
  text-align: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 16px;
  color: #333;
  
}
.popup-confirm i{
  font-size: 40px;
  color: var(--primary-color);
}


.popup-confirm__buttons{
  display: flex;
  gap: 10px;
  justify-content: center;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.popup-confirm__title{
  display: grid;
  gap: 20px;
  font-size: 24px;
}

.popup-confirm__title i{
  font-size: 40px;
}

.otp-title{
  font-size: 18px;
}

.otp-subtitle{
  font-size: 14px;
}

.otp-container{
  display:grid;
  gap: 20px;
}