
.login-page{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #3FABD9 0%, #7666E1 100%);


}
.login-container{
 

  background: var(--bg-color);
  padding: 25px;
  border-radius: 32px;
  max-width: 334px;
  width: 100%;
}
.login-image{

  display: grid;
  justify-items: center;
  gap: 10px;
}
.company-logo {
  width: 200px;
}
.car-illustration{
width: 160px;
}
@media (max-width: 768px) {
  .login-container {
    padding: 20px; /* Reduce padding on smaller screens */
  }


}

@media (max-width: 500px) {
  .login-page{
     background: var(--bg-color);}
 
}