
.auth-page{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #3FABD9 0%, #7666E1 100%);


}
.auth-container {
 
display: grid;
  background: var(--bg-color);
  padding: 44px;
  border-radius: 32px;
  max-width: 334px;
  width: 100%;
  gap: 20px;
}


.auth__title {
text-align: center;
}
.auth__title h1{
color: var(--primary-color);
  font-size: 25px;
}
.auth__content{
  text-align: center;
}
@media (max-width: 768px) {
  .login-container {
    padding: 20px; /* Reduce padding on smaller screens */
  }


}

@media (max-width: 500px) {
  .auth-page{
     background: var(--bg-color);}
 
}


@media (max-width: 425px) {
  
     .auth-container{ padding: 10px !important;}
    
}