.handle-back {
  position: absolute;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px; /* เพิ่ม padding เพื่อให้ปุ่มมีพื้นที่มากขึ้น */
  margin: 0px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.3s; /* เพิ่มการเปลี่ยนแปลงการยกขึ้น */
  padding-bottom: 0px;
}

.handle-back:hover {
  

  transform: translateY(-2px); /* ยกปุ่มขึ้นเล็กน้อย */
}

.handle-back span {
  font-size: var(--font-size-p2-regular);
  color: #333; /* เปลี่ยนสีตัวอักษร */
}

.handle-back i {
  font-size: 13px;
  color: #333; /* เปลี่ยนสีไอคอน */
}

@media (min-width: 1024px) {
  .handle-back {
    /* ปรับแต่งตำแหน่งที่ต้องการ */
    margin-left: 5px; /* จัดให้ปุ่มอยู่ด้านขวา */
    margin-right: 0; /* ไม่มีมาร์จิ้นทางขวา */
    /* หรือใช้ margin-top เพื่อจัดตำแหน่งในแนวตั้ง */
    /* margin-top: 20px; */ 
    /* หรือถ้าต้องการให้อยู่กลาง ใช้ flexbox */
    justify-content: center; /* ใช้ถ้าปุ่มอยู่ภายใน container ที่ใช้ flex */
  }
}
