.insurance-container {
  padding: 64px 60px; 
  margin-bottom: 200px;
}

.insurance__section-heading {
  display: grid;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 10%;
  margin-bottom: 40px;

}

.insurance__title{
  font-size: 32px;
}
.insurance__title span{
  position: relative; /* ตั้งค่าตำแหน่ง */
}
.insurance__title span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8px;
  background-color: #ff6b35;
  opacity: 0.24;
  border-radius: 4px; 
}
.insurance__link{
  font-size: 23px;
}

.insurance-slide .card-main{
  display: grid;
  justify-content: center;
  width: 100%;
  border-radius: 30px;

}

.insurance-box{
  padding: 16px ;
}
.insurance-box .title {
  font-size: 23px;
  font-weight: 700;
  color: #27173E;
  letter-spacing: -0.02em;
  line-height: 1em;
  margin-bottom: 12px;
  text-align: center;
}

.insurance-box .content{
font-size: 15px;
text-align: center;
}
.insurance-box .text{
  margin-bottom: 20px;
}
.insurance-box .img-wrapper {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  background:  white;
}

.img-wrapper img {
  width: 100%;
 max-width: 200px;

}


.btn-primary {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  background: #6236FF !important;
  border-color: #6236FF !important;
}

.btn-primary a {
  color: #FFFFFF !important;
  font-size: 12px;
  padding: 4px 6px 4px 6px;
  border: 2px;
  display: block;


}




.iconbox {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  /* ปรับมุมให้โค้งมน (ถ้าต้องการ) */
}

.bg-danger {
  background: #FF396F !important;

}

.bg-blue {
  background: #6236FF;
}
.bg-grey{
  background: #d2cee2;
}
.bg-grenn{
  background-color: #1dcc70;
}
.iconbox i {
  font-size: 24px;
  /* ขนาดไอคอน */

}

.bg-white{
  background-color: #E1F2F9;
  
}
.insurance-button{
  display: grid;
  justify-content: center;
}

.insurance-slide {
  width: calc(40%);

}



@media (max-width: 1024px) {
.insurance-container{
  padding: 60px 40px;
}
}


@media (min-width: 769px) and (max-width: 991px) {
  .insurance-slide {
    width: calc(30% ); 
 
  }
}


@media (max-width: 768px) {
  .insurance-slide {
    width: calc(43% ); 
  }
  .insurance-container{
    padding: 60px 10px; 
  }
  .insurance__title {
    font-size: 28px; /* ปรับขนาดให้เหมาะสมกับหน้าจอที่เล็กลง */
  }
  
  .insurance__link {
    font-size: 20px; /* ปรับขนาดให้เหมาะสมกับหน้าจอที่เล็กลง */
  }
}

@media (max-width: 500px) {
  .insurance-box .title {
    font-size: 18px;

}
  .insurance-box .content {
    font-size: 12px;

}
.insurance__title {
  font-size: 24px; /* ปรับขนาดให้เหมาะสมกับหน้าจอที่เล็กลง */
}

.insurance__link {
  font-size: 18px; /* ปรับขนาดให้เหมาะสมกับหน้าจอที่เล็กลง */
}
}
@media (max-width: 375px) {
  .insurance-button button.primary{
    width: 100px !important;
  }
}

