/* CookiePopup.css */
.cookie-popup {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  z-index: 1000;
}

.cookie-popup-title{
  display: flex;
}
.cookie-popup a {
  color: var(--primary-color);
  text-decoration: underline;
  margin-left: 10px;
  font-size: 14px;
}

.cookie-popup p {
  margin: 0;
  font-size: 14px;
}

.cookie-popup button {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.cookie-popup-button button:first-child {
  background-color: var(--primary-color);
  color: white;
}

.cookie-popup-button button:last-child {
  background-color: #f44336;
  color: white;
}

@media (max-width:647px) {
  .cookie-popup{
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 10px;
    
  }
  .cookie-popup-button{
display: flex;
gap: 8px;
  }
}


@media (max-width:498px) {
.cookie-popup-title{
  display: grid;
  justify-items: center;

}
.cookie-popup-title p{
  font-size: 12px;
}
.cookie-popup{
  gap: 20px;
}
}