/* CookiePopup.css */
.cookie-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  background-color: var(--color-white);
  color: #fff;  
  display: grid;
  border-radius: 8px;
  z-index: 1000;
  max-width: 240px;
  width: 90%;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.cookie-popup-title {
  display: flex;
  color: var(--text-color);
}

.cookie-popup a {
  color: var(--primary-color);
  text-decoration: underline;

  font-size: 14px;
}

.cookie-popup p {
  text-align: center;
  margin: 0;
  font-size: 14px;
}

.cookie-popup-button button {

  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.cookie-popup-button button:first-child {
  background-color: var(--primary-color);
  color: white;
}
.close-button-cookie-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
}



.cookie-popup-img img{
  width: 100%;
  max-width: 75px;
}
@media (max-width:647px) {
  .cookie-popup {
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 10px;

  }

  .cookie-popup-button {
    display: flex;
    gap: 8px;
  }
}


@media (max-width:498px) {
  .cookie-popup-title {
    display: grid;
    justify-items: center;

  }

  .cookie-popup-title p {
    font-size: 12px;
  }

  .cookie-popup {
    gap: 20px;
  }
}


